:root {
    --background-blue: rgb(9, 10, 48);
    --font-light-grey: rgb(189, 189, 189);
    --log-page-bg: rgb(116, 116, 116);
    --scrollbar: rgb(41, 42, 75);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 16px;
    color: var(--font-light-grey);
    background-color: var(--background-blue);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.main-header {
    text-align: center;
    margin-bottom: 5rem;
}

.album-pages-container {
    background-color: rgb(63, 63, 63);
    padding: 2rem;
}

.log-page-wrapper {
    background-color: var(--log-page-bg);
    height:80vh;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.log-page-wrapper::before {
    content: '';
    box-shadow: inset 0 0 10px rgb(70, 70, 70);
    border-radius: 20px;
    pointer-events: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.log-page {
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:0.5rem;
    padding:1rem;
    height: 100%;
    overflow-y: auto;

}

.log-page::-webkit-scrollbar {
    background-color: var(--log-page-bg);
    width: 0.5rem;
}

.log-page::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 20px;
    
}

.album-container {
    display: flex;
    width: clamp(100px, 20%, 250px);
}

.album-img {
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
}



