:root {
    --background-blue: rgba(111, 95, 255, 0.411);
    --font-light-grey: rgb(185, 185, 185);
    --search-highlight: rgb(121, 128, 165);
    --log-page-bg: rgba(86, 95, 114, 0.774);
    --log-container-bg: rgba(9, 4, 56, 0.747);
    --scrollbar: rgb(41, 42, 75);
    --to-listen-bg: rgba(33, 4, 56, 0.623);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 16px;
    font-family:'Exo 2', 'Courier New', Courier, monospace;
    color: var(--font-light-grey);
    background-image: linear-gradient(90deg, var(--background-blue), var(--background-blue)), url(bgimage.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.log-album-modal {
    position:absolute;
    background-color: rgba(25, 29, 53, 0.719);
    width: 100%;
    height:100%;
    z-index: -99;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.75;
}

.log-album-modal-container {
    background-color: var(--log-container-bg);
    padding: 1.5rem;
    border-radius: 10px;
    width: clamp(20rem, 50%, 40rem);
    position: relative;
    opacity:0;
    transform: translateY(2rem);
    transition: all 0.5s;
}

.close-modal {
    color: var(--font-light-grey);
    background: none;
    border: none;
    padding: 0.15rem;
    font-size: 1.1rem;
    position: absolute;
    top:0.5rem;
    right: 0.75rem;
}

.log-album-form {
    
}

.log-album-form > * {
    display: block;
}

#title, #artist {
    padding: 0.125rem 0.125rem 0.125rem 0.5rem;
    width: clamp(7rem, 50%, 16rem);
}

#log-review {
    padding-left: 0.25rem;
    padding-top: 0.125rem;
    border-radius: 4px !important;
    width: clamp(7rem, 80%, 48rem);
}

.log-album-submit-button {
    border: none;
    color: var(--font-light-grey);
    background-color: var(--search-highlight);
    padding: 0.25rem;
    width: clamp(6rem, 40%, 10rem);
    border-radius: 4px;
    margin-top: 0.5rem;
}

form > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.log-album-form-art-container {
    width: clamp(100px, 30%, 150px);
    position: absolute;
    right: 2.5rem;
    top:2rem;
    border: 2px solid var(--log-page-bg);
    border-radius: 3px;
}

.log-album-form-art {
    max-width: 100%;
    max-height: 100%;
    opacity:0;
    transition: all 0.5s;
}

main {
    
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8rem;
    height: 7.5vh;
    margin-bottom: -2rem;
}

.album-pages-container {
    background-color: var(--log-container-bg);
    padding: 2.5rem;
    height: calc(89vh + 2rem);
}

.tabs-container {
    display: flex;
}

.tab {
    background-color:var(--log-container-bg);
    width:8rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding-bottom: 0.2rem;
}

.tab:hover {
    cursor:pointer;
}

.listen-tab {
    background-color: var(--to-listen-bg);
}

.controls-bar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.search-container {
    grid-column: 3/end;
    text-align: right;
    
}

.search-bar, .sort, .new-button, #title, #artist, #log-review {
    background-color: var(--log-page-bg);
    color: var(--font-light-grey);
    border-radius: 20px;
    border:none;
}

.search-bar {
    padding: 0.15rem;
    padding-left: 0.5rem;
    caret-color: var(--font-light-grey);
    width: clamp(5rem, 80%, 30rem);
}

.search-bar:focus, #title:focus, #artist:focus, #log-review:focus{
    outline:0.1rem solid var(--search-highlight);
}

.sort {
    width: clamp(8rem, 65%, 20rem);
    padding: 0.15rem;
}

.sort:focus {
    outline:none;
}

.sort-container {
    grid-column: 1/3;
}

.new-button {
    padding: 0.2rem 2rem;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.log-page-wrapper {
    background-color: var(--log-page-bg);
    height:100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.log-page-wrapper::before {
    content: '';
    box-shadow: inset 1px 1px 20px 10px rgb(65, 74, 94);
    border-radius: 20px;
    pointer-events: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
}

.log-page {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap:20px;
    padding:1rem;
    height: 100%;
    overflow-y: auto;
}

.log-page::-webkit-scrollbar {
    background-color: var(--log-page-bg);
    width: 0.5rem;
}

.log-page::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 20px;
}

.album-container {
    aspect-ratio: 1;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.4s;
}

.album-img {
    width:100%;
}

.album-hover-text, .album-hover-rating {
    position: absolute;
    text-align: center;
    padding: 0.15rem;
    left: -100%;
    transition: all 0.667s;
}

.album-hover-rating {
    background-color: var(--log-container-bg);
    border-radius: 0 5px 0 0;
    bottom:2.67rem;
    text-shadow: 2px 2px 1px rgb(0, 4, 24);
    transition-delay: 0.22s;
}

.album-hover-text {
    background-color: var(--log-container-bg);
    width: 100%;
    bottom:0;
    text-shadow: 2px 2px 1px rgb(0, 4, 24);
    transition-delay: 0.12s;
}

.album-container:hover {

    transform: scale(1.05);

    .album-hover-text, .album-hover-rating {
        left: 0;
    }

}

.album-container:active {
    transform: scale(1);
    transition: none;
}
